@inject IJSRuntime JSRuntime


<button class="@Css" @onclick="Confirmed" disabled="@IsDisabled">@Title</button>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Css { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public bool changeItToThis { get; set; }

    [Parameter]
    public bool variableToBeChanged { get; set; }

    [Parameter]
    public EventCallback<bool> variableToBeChangedChanged { get; set; }

    async Task Confirmed()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Er du sikker på at du vil bekræfte denne reservation?"))
            return;

        await variableToBeChangedChanged.InvokeAsync(changeItToThis);
    }

}
