<button class="@Css" @onclick="@Onclick" disabled ="@IsDisabled">@Title</button>


@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> Onclick { get; set; }

    [Parameter]
    public string Css { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public DateTime ChosenDate { get; set; }
    }

