@inject IJSRuntime JSRuntime


<button class="@Css" @onclick="DeleteReservationFromDB" disabled="@IsDisabled">@Title</button>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Css { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public Reservation Reservation { get; set; }

    [Parameter]
    public EventCallback<Reservation> ReservationChanged { get; set; }

    async Task DeleteReservationFromDB()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Er du sikker på at du vil slette denne reservation?"))
            return;

        await ReservationChanged.InvokeAsync(new Reservation());
        //Delete from DB
    }

}