<h3>Rediger reservationen</h3>

<EditForm Model="@containerAdminHomePage.chosenReservation">
    @*<DataAnnotationsValidator />
        <ValidationSummary />*@
    <div class="form-group">
        <label for="fornavn">Fornavn</label>
        <InputText @bind-Value="containerAdminHomePage.chosenReservation.Guest.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="telefonnummer">Telefonnummer</label>
        <InputText @bind-Value="containerAdminHomePage.chosenReservation.Guest.PhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label for="mail">Mail</label>
        <InputText @bind-Value="containerAdminHomePage.chosenReservation.Guest.Mail" class="form-control" />
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <InputText @bind-Value="containerAdminHomePage.chosenReservation.Guest.Address" class="form-control" />
    </div>

    <div class="form-group">
        <label for="startDato">StartDato</label>
        <InputDate @bind-Value="containerAdminHomePage.chosenReservation.StartDate" class="form-control" />
    </div>

    <div class="form-group">
        <label for="finishDato">FinishDato</label>
        <InputDate @bind-Value="containerAdminHomePage.chosenReservation.EndDate" class="form-control" />
    </div>

    <button type="submit" @onclick="(() => containerAdminHomePage.ChangeEditMode())" class="btn btn-primary">Gem</button>
</EditForm>

@code {
    [CascadingParameter]
    public AdminHomePage containerAdminHomePage { get; set; } //Contains all admin home page functions and properties 

    }
