@foreach (var reservation in ListOfReservations)
{<tr>
    <td>
        <button class="btn btn-primary" type="submit" @onclick="(e => UpdateChosenReservation(reservation))">
            Bekræftet: @(reservation.Confirmed == true ? "Ja" : "Nej") <br />
            Tidspunkt: @reservation.ReservationPeriod() <br />
        </button>
    </td>
</tr>
}


@code {
    [Parameter]
    public Reservation ChosenReservation { get; set; }

    [Parameter]
    public EventCallback<Reservation> ChosenReservationChanged { get; set; }

    private async Task UpdateChosenReservation(Reservation reservation)
    {
        await ChosenReservationChanged.InvokeAsync(reservation);
    }
    [Parameter]
    public List<Reservation> ListOfReservations { get; set; }



}
