@foreach (var reservation in ListOfReservations)
{<tr>
    <td>
        <button class="btn btn-primary" type="submit" @onclick="(e => UpdateChosenReservation(reservation))">
            Bekræftet: @(reservation.Confirmed == true ? "Ja" : "Nej") <br />
            Tidspunkt: @reservation.ReservationPeriod() <br />
        </button>
    </td>
</tr>
}


@code {
    [CascadingParameter(Name = "chosenReservation")]
    public Reservation ChosenReservation { get; set; }

    [CascadingParameter(Name = "dummyData")]
    public List<Reservation> dummyData { get; set; }
    
    [Parameter]
    public EventCallback<MouseEventArgs> UpdateChosenReservationInParentObject { get; set; }

    private async Task UpdateChosenReservation(Reservation reservation)
    {
        ChosenReservation = reservation;
        UpdateChosenReservationInParentObject(ChosenReservation);
    }




}
