@foreach (Reservation reservation in containerAdminHomePage.dummyData)
{<tr>
        <td>
            <button class="btn btn-primary" type="submit" @onclick="(() => containerAdminHomePage.UpdateChosenReservation(reservation))">
                Bekræftet: @(reservation.Confirmed == true ? "Ja" : "Nej") <br />
                Tidspunkt: @reservation.ReservationPeriod() <br />
            </button>
        </td>
    </tr>
}

@code {
    [CascadingParameter]
    public AdminHomePage containerAdminHomePage { get; set; } //Contains all admin home page functions
}
