@foreach (var reservationID in ListOfReservations)
{<tr>
        <button class="btn btn-primary" type="submit" @onclick="(e => UpdateChosenReservation(reservationID))">
            Reservations ID @reservationID.ID <br />
            Bekræftet: @(reservationID.Confirmed == true ? "Ja" : "Nej") <br />
            Tidspunkt: @reservationID.ReservationFormatDates() <br />
        </button>
    </tr>
}


@code {
    [Parameter]
    public Reservation ChosenReservation { get; set; }

    [Parameter]
    public EventCallback<Reservation> ChosenReservationChanged { get; set; }

    private async Task UpdateChosenReservation(Reservation reservation)
    {
        await ChosenReservationChanged.InvokeAsync(reservation);
    }
    [Parameter]
    public List<Reservation> ListOfReservations { get; set; }



}
