@inject IJSRuntime jsRuntime

<h4>Reservationer</h4>


@foreach (Reservation reservation in containerAdminHomePage.listOfReservations)
{
    <div class="list-item" type="submit" @onclick="(() => containerAdminHomePage.UpdateChosenReservation(reservation))">
        Navn: @reservation.Guest.Name <br />
        Bekræftet: @(reservation.Confirmed != null ? "Ja" : "Nej") <br />
        @reservation.ReservationPeriod() <br />
    </div>
    <span class="fade-line"></span>
}




@code {
    [CascadingParameter]
    public AdminHomePage containerAdminHomePage { get; set; } //Contains all admin home page functions and properties
}
