@inject IDataManager _dm
<footer>
    <p>Kontakt os på:</p>
    <p>Mail: <a href="mailto:@Association.Email">@Association.Email</a></p>
    <p>Telefon: <a href="tel:@Association.Phone">@Association.Phone</a></p>
    <p>Adresse: <a href="http://maps.google.com/?q=@Association.Address">@Association.Address</a></p>
</footer>

@code {
    public CitizenAssociationModel Association { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Association = await _dm.GetAssociationInformation();
    }

}
