<footer>
    <p>Kontakt os på:</p>
    <p>Mail: <a href="mailto:@Organization.Mail">@Organization.Mail</a></p>
    <p>Telefon: <a href="tel:@Organization.PhoneNumber">@Organization.PhoneNumber</a></p>
</footer>

@code {
    public CitizenAssociation Organization { get; set; } = new ()
    {
        Mail = "Østrupborgerforening@gmail.dk",
        PhoneNumber = "88 88 88 88"
    };


}
