<footer class="">
    <p>Kontakt os på:</p>
    <a href="mailto:@Organization.Mail">Mail @Organization.Mail</a>
    <a href="tel:@Organization.PhoneNumber">Telefon @Organization.PhoneNumber</a>
</footer>

@code {
    public Organization Organization { get; set; } = new Organization()
    {
        Mail = "Østrupborgerforening@gmail.dk",
        PhoneNumber = "88 88 88 88"
    };


}
