.main {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 500px 500px;
    grid-template-rows: auto;
    grid-template-areas:
        "top top"
        "left right"
        "bottom bottom"
}

::deep .current-selection {
    grid-area: top
}

::deep .item-a {
    width: 360px;
    grid-area: left;
}

::deep .item-b {
    width: 360px;
    grid-area: right;
}

::deep .item-c {
    grid-area: bottom
}
