@inject IDataManager _dm

<div class="Information-box">
    <h2>Læs før du reserverer</h2>
    <p>@Association.InformationForGuests</p>
</div>

@code {
    public CitizenAssociationModel Association { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Association = await _dm.GetAssociationInformation();
    }
}
