@page "/"

<CascadingValue Value="dummyData" Name="dummyData">
    <CascadingValue Value="chosenReservation" Name="chosenReservation">
        <CascadingValue Value="editMode" Name="editMode">
            <table>
                <tr>
                    <td>
                        <ReservationLog>

                        </ReservationLog>
                    </td>

                    @if (!editMode)
                    {
                        <td>

                            <ShowAReservation>

                            </ShowAReservation>
                        </td>
                    }
                    else
                    {
                        <td>
                            <EditReservation>

                            </EditReservation>
                        </td>
                    }
                </tr>
            </table>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@code {
    Reservation chosenReservation;
    public bool editMode = false;
    List<Reservation> dummyData = xxxDummyData.ListOfReservations;

    private void ChangeEditMode() //Flips edit mode between true or false
    {
        editMode = !editMode;
    }

    private void UpdateReservationList(List<Reservation> List) //Sets new reservation list based on paramater
    {
        dummyData = List;
    }
}
