@page "/admin"

<CascadingValue Value="chosenReservation" Name="chosenReservation">
</CascadingValue>

<CascadingValue Value="editMode" Name="EditMode">
</CascadingValue>

<CascadingValue Value="dummyData" Name="dummyData">
</CascadingValue>

<table>
    <tr>
        <td>
            <ReservationLog>

            </ReservationLog>
        </td>

        @if (!editMode)
        {
            <td>

                <ShowAReservation>

                </ShowAReservation>
            </td>
        }
        else
        {
            <td>
                <EditReservation>

                </EditReservation>
            </td>
        }
    </tr>
</table>

@code {
    Reservation chosenReservation;
    public bool editMode = false;
    List<Reservation> dummyData = xxxDummyData.ListOfReservations;

    private void UpdateRes(Reservation R)
    {
        chosenReservation = R;
    }

    private void UpdateRes(bool E)
    {
        editMode = E;
    }

    private void UpdateRes(List<Reservation> Lst)
    {
        dummyData = Lst;
    }
}
