@page "/"

            <table>
                <tr>
                    <td>
                        <CascadingValue Value="dummyData" Name="dummyData">
                            <CascadingValue Value="chosenReservation" Name="chosenReservation">
                                <ReservationLog>

                                </ReservationLog>
                            </CascadingValue>
                        </CascadingValue>
                    </td>

                    @if (!editMode)
                    {
                <td>
                    <CascadingValue Value="chosenReservation" Name="chosenReservation">
                        <CascadingValue Value="editMode" Name="editMode">
                            <ShowAReservation>

                            </ShowAReservation>
                        </CascadingValue>
                    </CascadingValue>
                </td>
                    }
                    else
                    {
                <td>
                    <CascadingValue Value="dummyData" Name="dummyData">
                        <CascadingValue Value="chosenReservation" Name="chosenReservation">
                            <CascadingValue Value="editMode" Name="editMode">
                                <EditReservation>

                                </EditReservation>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </td>
                    }
                </tr>
            </table>


@code {
    Reservation chosenReservation;
    public bool editMode = false;
    List<Reservation> dummyData = xxxDummyData.ListOfReservations;

    private void ChangeEditMode() //Flips edit mode between true or false
    {
        editMode = !editMode;
    }

    private void UpdateReservationList(List<Reservation> List) //Sets new reservation list based on paramater
    {
        dummyData = List;
    }
}
