@page "/home"

<table>
    <tr>

        <td>
            <ReservationLog ListOfReservations="ListOfReservations" @bind-ChosenReservation="reservation">

            </ReservationLog>
        </td>

        <td>

            <ShowAReservation ShowThis="reservation">

            </ShowAReservation>
        </td>
    </tr>

</table>




@code {

    public static List<Reservation> ListOfReservations = TestReservationList.ListOfReservations;
    public Reservation reservation { get; set; } = new Reservation("TEEEEEEEEEEST", "Watson", "748923", "thi@yaoho.com", "Aalborg", "conto", "regnumbah", true,
            new DateTime(2021, 7, 3), new DateTime(2020, 5, 5), false, "no", 4);




}
