@page "/"

<h1>This is the chosen date @ChosenDate.ToShortDateString()</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Kalender ReservedDates="DummyArray" @bind-ChosenDateForParentObject="ChosenDate">
</Kalender>

<Login
       LstOfUsers="DummyLst">
</Login>


@code{
    private List<User> DummyLst = new List<User>() { new User("Lars", "forkert", "LarsErSej@LarsMail.Lars"), new User("Oliver", "123", "") };

    private DateTime[] DummyArray = { new DateTime(DateTime.Now.Year, DateTime.Now.Month, 23), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 11), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 3) };
    private static DateTime ChosenDate;
}