@page "/"

<ShowAReservation @bind-ShowThis="Res">
</ShowAReservation>
<Kalender ReservedDates="days" @bind-ChosenDateP ="chosendate" CurrentlyChosen="chosendate"></Kalender>
<h1>@chosendate.ToShortDateString()</h1>
<h1>@Res.Confirmed</h1>
<h1>@Res.Guest.Name</h1>
@code{
    Reservation Res = xxxDummyData.ListOfReservations[0];
    List<DateTime> days = xxxDummyData.RDates();
    DateTime chosendate;
}