@page "/"

<h1>@ChosenDate.ToShortDateString()</h1>
<Kalender ReservedDates="DummyArray" @bind-ChosenDateP="ChosenDate" CurrentlyChosen ="ChosenDate">
</Kalender>

@code{
    private DateTime[] DummyArray = { new DateTime(DateTime.Now.Year, DateTime.Now.Month, 23), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 11), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15), new DateTime(DateTime.Now.Year, DateTime.Now.Month, 3) };
    private static DateTime ChosenDate;
}