@page "/login"
@inject NavigationManager NavManager


<p>
    <input @bind="UserName" />
</p>

<p>
    <input type="password" @bind="Password" />
</p>

<p hidden="@hidden">
    Brugernavn eller adgangskode er forkert
</p>

<button class="btn btn-primary" @onclick="Initialized">Log ind</button>


@code {
    private string userName;
    private string password;
    private bool hidden = true;
    private List<Member> ListOfUsers = new List<Member>() { new Member("Lars", "forkert", "LarsErSej@LarsMail.Lars"), new Member("Oliver", "123", "") };

    private void Initialized()
    {
        foreach (Member user in ListOfUsers)
        {
            if (user.UserName == userName && user.Password == password)
            {
                NavManager.NavigateTo("/login");
            }
        }
        Hidden = false;
    }

    public string UserName
    {
        get { return userName; }
        set { userName = value; }
    }

    public string Password
    {
        get { return password; }
        set { password = value; }
    }

    public bool Hidden
    {
        get { return hidden; }
        set { hidden = value; }
    }

}
