@page "/bookReservation"
@using System.ComponentModel.DataAnnotations;
@inject NavigationManager NavigationManager

<h3>Book en reservation</h3>
<EditForm Model="@currentReservation">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="fornavn">Fornavn</label>
        <InputText placeholder="Fornavn" @bind-Value="currentReservation.CitizenGuest.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="efternavn">Efternavn</label>
        <InputText placeholder="Efternavn" @bind-Value="currentReservation.CitizenGuest.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="telefonnummer">Telefonnummer</label>
        <InputText placeholder="telefonnummer" @bind-Value="currentReservation.CitizenGuest.PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label for="mail">Mail</label>
        <InputText placeholder="mail" @bind-Value="currentReservation.CitizenGuest.Mail" class="form-control" />
    </div>
    <div class="form-group">
        <label for="startDato">StartDato</label>
        <InputDate placeholder="StartDato" @bind-Value="currentReservation.StartDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="finishDato">FinishDato</label>
        <InputDate placeholder="FinishDato" @bind-Value="currentReservation.FinishDate" class="form-control" />
    </div>

    <div class="form-group">
        <label for="accountNumber">Kontonummer</label>
        <InputText placeholder="xx xx xx xx xx" @bind-Value="currentReservation.CitizenGuest.AccountNumber" class="form-control" />

        <label for="registerNumber"> Registreringnummer</label>
        <InputText placeholder="xxxx" @bind-Value="currentReservation.CitizenGuest.RegistrationNumber" class="form-control" />
    </div>

        <div class="form-group">
            <label for="otherStuff">Spørgsmål eller andre kommentarer</label>
            <InputTextArea placeholder=". . ." @bind-Value="currentReservation.OtherInfo" class="form-control" />
        </div>

    <div class="form-group">
        <label for="cleaning">Rengøring</label>
        <InputCheckbox @bind-Value="currentReservation.Cleaning" @onclick="ChangeStateCleaning" />

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        <label for="permission">Jeg er over 18 år</label>
        <InputCheckbox @bind-Value="currentReservation.CitizenGuest.IsOver18" @onclick="ChangeStateAge" />
    </div>

    <button type="submit" @onclick="SendDataToListAndSendToMobilePay" class="btn btn-primary">Send formularen</button>
</EditForm>

    @code {

        [Parameter]
        public bool MobilePayOn { get; set; } = true;

        Reservation currentReservation = new Reservation(new DateTime(2022, 7, 23), new DateTime(2022, 7, 25), "Brown", "Watson", "2000000", "this@yahoo.com", "12345680", "9050", false, true, "haha");

    public void SendDataToListAndSendToMobilePay()
    {

        TestReservationList.ListOfReservations.Add(new Reservation(currentReservation.CitizenGuest.FirstName, currentReservation.CitizenGuest.LastName,
            currentReservation.CitizenGuest.PhoneNumber, currentReservation.CitizenGuest.Mail,
            currentReservation.CitizenGuest.Address, currentReservation.CitizenGuest.AccountNumber,
            currentReservation.CitizenGuest.RegistrationNumber, currentReservation.CitizenGuest.IsOver18,
            currentReservation.StartDate, currentReservation.FinishDate,
            currentReservation.Cleaning, currentReservation.OtherInfo, (currentReservation.ID = TestReservationList.ListOfReservations.Count+1)));

        if (MobilePayOn == true)
        {
            NavigationManager.NavigateTo("/betal-depositum");
        }
    }
    public void ChangeStateCleaning()
    {
        currentReservation.Cleaning = !currentReservation.Cleaning;
    }
    public void ChangeStateAge()
    {
        currentReservation.CitizenGuest.IsOver18 = !currentReservation.CitizenGuest.IsOver18;
    }
}
