@inject IReservationData _db
@inject IDataManager _dm
@page "/test2"

<h3>Database Test</h3>

@if (reservations is null)
{
    <p>loading...</p>
}
else
{
    @foreach (Reservation reservation in reservations)
    {
        <h4>@reservation.StartDate.ToString()</h4>
        <p>@reservation.EndDate.ToString()</p>
        <p>@reservation.Guest.Name</p>
    }
}

@code {
    List<Reservation> reservations;

    protected override async Task OnInitializedAsync()
    {
        reservations = await _dm.ReservationsDataFromDBAsync();
    }
}
